# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# HTML files
[*.{html,htm}]
indent_size = 2
max_line_length = 120

# CSS files
[*.{css,scss,sass,less}]
indent_size = 2
max_line_length = 120

# JavaScript files
[*.{js,ts,jsx,tsx}]
indent_size = 2
max_line_length = 100
quote_type = single

# JSON files
[*.{json,jsonc}]
indent_size = 2
max_line_length = 120

# YAML files
[*.{yml,yaml}]
indent_size = 2
max_line_length = 80

# Markdown files
[*.{md,mdx}]
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = false

# XML files
[*.{xml,svg}]
indent_size = 2
max_line_length = 120

# Configuration files
[*.{ini,conf,cfg}]
indent_size = 4

# Shell scripts
[*.{sh,bash,zsh}]
indent_size = 2
end_of_line = lf

# Python files (if any)
[*.py]
indent_size = 4
max_line_length = 88

# Package files
[{package.json,package-lock.json,yarn.lock}]
indent_size = 2

# Ignore files
[{.gitignore,.dockerignore,.eslintignore,.prettierignore}]
indent_size = 2

# License files
[LICENSE*]
indent_size = 2
insert_final_newline = false

# README files
[README*]
indent_size = 2
max_line_length = 80